* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------Navber-------- */
#navber {
  width: 100%;
  height: 110px;
  position: sticky;
  top: 0;
  z-index: 999999999;
  background: #fff;
}
.nav-section {
  width: 90%;
  margin-left: 5%;
}
nav {
  display: flex;
  padding-top: 26.5px;
}
.logo img{
  height: 30%;
}
.menu ul {
  display: flex;
  margin-left: -420px;
  padding-top: 18px;
}
.menu ul li {
  list-style: none;
  position: relative;
} 
.menu ul li a {
  color: #323232;
  text-align: center;
  margin-right: 40px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  position: relative;
}
.menu ul li a:hover {
  color: #db9e30;
  transition: all .3s;
}
.nav-btn {
  margin-left: 380px;
  padding-top: 13.5px;
}
.btn {
  margin-left: 30px;
  padding-top: 20px;
}
.menu ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background: #fff;
  margin-left: -15px;
}
.menu ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}

/* -----Return------ */
#Return {
  width: 100%;
  height: auto;
}
.Return-section {
  position: relative;
  height: 750px; /* Adjust height as needed */
  margin: 25px 60px 0px 60px;
  overflow: hidden;
  border-radius: 100px;
}

.Return-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
}

.Return-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  font-family: 'Cinzel Decorative', serif;
}

.Return-text p {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.Return-text a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  background: #db9e30;
  text-decoration: none;
  padding: 18px 40px;
  margin-top: 30px;
}

.Return-about {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.Return-about-image {
  height: 778px;
  left: 200px;
  position: absolute;
  width: 754px;
}
.about-1 {
  left: 0;
  max-height: 720px;
  max-width: 570px;
  position: absolute;
  top: 0;
}
.about-1 img {
  border-radius: 80px;
}
.about-2 {
  bottom: 0;
  max-height: 500px;
  max-width: 370px;
  position: absolute;
  right: 0;
}
.about-2 img {
  border: 20px solid #fff;
  border-bottom: 0;
  border-radius: 60px;
  width: 100%;
}
.Return-about-text {
  margin-left: 650px;
  margin-top: 120px;
  width: 550px;
  height: auto;
}
.Return-about-text h2 {
  color: #db9e30;
  font-family: Mulish,sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
}
.Return-about-text h1 {
  color: #262626;
  font-size: 40px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}
.Return-about-text p {
  color: #525252;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}

.call-us {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.call-us a {
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  background: #db9e30;
  text-decoration: none;
  padding: 18px 40px;
}
.call-us img {
  padding-left: 40px;
  padding-right: 20px;
}
.call-us-text h1 {
  color: #525252;
  display: block;
  font-family: 'Cinzel Decorative', serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.call-us-text p {
  color: #262626;
  font-family: 'Cinzel Decorative', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
}

/* --------Stories------- */
#pillars {
  background: url(images/bg.png);
  overflow: hidden;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;
  text-align: center; 
}
#pillars:before {
  background: #f6f6f6;
  content: "";
  height: 100%;
  left: 0;
  opacity: .7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -11;
}
.pillars-texr p {
  color: #db9e30;
  font-family: Mulish,sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  padding-top: 80px;
  margin-bottom: 3px;
}
.pillars-texr h1 {
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
  font-family: 'Cinzel Decorative', serif;
}
.pillars-images {
  display: flex;
  margin-left: 50px;
  margin-top: 80px;
  cursor: pointer;
}
.images-1 img {
  border-radius: 60px;
  margin-left: 40px;
  max-height: 312px;
  max-width: 312px;
  overflow: hidden;
  position: relative;
}
.images-1 h1 {
  color: #000;
  font-family: Cinzel Decorative,serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 0;
}

/* Style for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 80%; /* Adjust the width as per your requirement */
  height: 80%; /* Adjust the height as per your requirement */
  max-width: 800px; /* Adjust the maximum width as per your requirement */
  max-height: 600px; /* Adjust the maximum height as per your requirement */
  overflow: auto; /* Enable scrolling if content exceeds modal size */
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 32px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -------footer------ */


#footer {
  background: #000;
  width: 100%;
  height: 800px;
}
.footer-event {
  display: flex;
  width: 96%;
  margin-left: 2%;
  padding-top: 200px;
}
.event1 {
  width: 300px;
  margin-right: 40px;
  padding: 0 30px 0 0;
}
.event1 p {
  line-height: 1.9em;
  margin-bottom: 18px;
  color: #fff;
  font-size: 16px;
}
.footer-icons {
  display: flex;
  gap: 10px;
}
.footer-icons a {
  background: hsla(0,0%,100%,.15);
  border-radius: 100px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
}
.footer-icons a:hover{
  color: #db9e30;
  transition: .5s;
} 
.event2 {
  width: 275px;
  padding-left: 20px;
}
.event2 h1 {
  color: #fff;
  font-family: Cinzel Decorative,serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}
.event2 ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 17px;
  position: relative;
  transition: all .3s ease-in-out;
  line-height: 35px;
}
.event2 ul li:hover {
  color: #db9e30;
  transition: all .6s;
}
.event3 {
  width: 275px;
  padding-left: 20px;
}
.event3 h1 {
  color: #fff;
  font-family: Cinzel Decorative,serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}
.event3 ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  transition: all .3s ease-in-out;
  line-height: 35px;
  margin-left: 17px;
}
.event3 ul li:hover {
  color: #db9e30;
  transition: all .6s;
}
.event4 {
  width: 340px;
  padding-left: 20px;
}
.event4 h1 {
  color: #fff;
  font-family: Cinzel Decorative,serif;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  position: relative;
  text-transform: capitalize;
}
.youremailaddrs {
  background: transparent;
  border: 1px solid #989898;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 12px 20px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.event4 a {
  background: #db9e30;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  padding: 12px 45px;
  position: relative;
  width: 100%;
  text-decoration: none;
}
.lower-footer{
  border-top: 1px solid #30465c;
  padding: 20px 0;
  position: relative;
  display: flex;
  width: 96%;
  margin-left: 2%;
  margin-top: 80px;
} 
.copyright {
  width: 648px;
  color: #9f9f9f;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  line-height: 1.8em;
}
.copyright span {
  color: #fff;
}
.prybacy  {
  width: 648px;
  text-align: end;
  padding-left: 349px;
}
.prybacy ul {
  display: flex;
  text-align: end;
  list-style: none;
  line-height: 1.8em;
}
.prybacy ul li {
  display: inline-block;
  padding-right: 20px;
  color: #aaa;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  transition: all .3s ease-in-out;
}
.prybacy ul li:hover {
  color: #db9e30;
}



.nav-tabs {
  display: flex;
  text-align: center;
}
.nav-items {
  flex-basis: 33.33%;
  margin-bottom: -1px;
  width: 100%;
  list-style: none;
}
.nav-items a {
  background: #f6f6f6;
  border: none;
  border-radius: 0;
  border-top: 4px solid transparent;
  color: #2d4277;
  display: block;
  font-weight: 400;
  height: 50px;
  line-height: 20px;
  margin-right: 1px;
  text-align: center;
  transition: all .5s;
  padding-top: 10px;
}
.nav-items a .Active{
  background: #fff;
  border: none;
  border-top: 4px solid #db9e30;
  color: #2d4277;
  outline: none;
}
